{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2024 Nikita Chernyi
SPDX-FileCopyrightText: 2025 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=Vikunja ({{ vikunja_identifier }})
{% for service in vikunja_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in vikunja_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ vikunja_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ vikunja_identifier }} 2>/dev/null || true'

{#
  PUID and PGID are specified on env.j2 to run the container as vikunja_uid:vikunja_gid
#}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
      --rm \
      --name={{ vikunja_identifier }} \
      --log-driver=none \
      --cap-drop=ALL \
      --cap-add=CAP_DAC_OVERRIDE \
      --cap-add=CHOWN \
      --cap-add=SETUID \
      --cap-add=SETGID \
      --network={{ vikunja_container_network }} \
      {% if vikunja_container_http_host_bind_port %}
      -p {{ vikunja_container_http_host_bind_port }}:{{ vikunja_container_http_port }} \
      {% endif %}
      {% if vikunja_container_ssh_host_bind_port %}
      -p {{ vikunja_container_ssh_host_bind_port }}:{{ vikunja_container_ssh_port }} \
      {% endif %}
      --env-file={{ vikunja_base_path }}/env \
      --label-file={{ vikunja_base_path }}/labels \
      --mount type=bind,src={{ vikunja_data_path }},dst=/app/vikunja/files \
      {% for volume in vikunja_container_additional_volumes %}
      --mount type={{ volume.type | default('bind' if '/' in volume.src else 'volume') }},src={{ volume.src }},dst={{ volume.dst }}{{ (',' + volume.options) if volume.options else '' }} \
      {% endfor %}
      {% for arg in vikunja_container_extra_arguments %}
      {{ arg }} \
      {% endfor %}
      {{ vikunja_container_image_self_build_name if vikunja_container_image_self_build else vikunja_container_image }}

{% for network in vikunja_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ vikunja_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ vikunja_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ vikunja_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ vikunja_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ vikunja_identifier }}

[Install]
WantedBy=multi-user.target
