{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2025 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if vikunja_container_labels_traefik_enabled %}
traefik.enable=true

{% if vikunja_container_labels_traefik_docker_network %}
traefik.docker.network={{ vikunja_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if vikunja_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ vikunja_identifier }}-slashless-redirect.redirectregex.regex=^({{ vikunja_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.{{ vikunja_identifier }}-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + [vikunja_identifier + '-slashless-redirect'] %}
{% endif %}

{% if vikunja_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ vikunja_identifier }}-strip-prefix.stripprefix.prefixes={{ vikunja_container_labels_traefik_path_prefix }}
{% set middlewares = middlewares + [vikunja_identifier + '-strip-prefix'] %}
{% endif %}

{% if vikunja_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in vikunja_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ vikunja_identifier }}-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [vikunja_identifier + '-add-request-headers'] %}
{% endif %}

{% if vikunja_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in vikunja_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ vikunja_identifier }}-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [vikunja_identifier + '-add-response-headers'] %}
{% endif %}

traefik.http.routers.{{ vikunja_identifier }}.rule={{ vikunja_container_labels_traefik_rule }}
{% if vikunja_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ vikunja_identifier }}.priority={{ vikunja_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ vikunja_identifier }}.service={{ vikunja_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ vikunja_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ vikunja_identifier }}.entrypoints={{ vikunja_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ vikunja_identifier }}.tls={{ vikunja_container_labels_traefik_tls | to_json }}
{% if vikunja_container_labels_traefik_tls %}
traefik.http.routers.{{ vikunja_identifier }}.tls.certResolver={{ vikunja_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ vikunja_identifier }}.loadbalancer.server.port={{ vikunja_container_http_port }}
{% endif %}

{% for arg in vikunja_container_labels_additional_labels %}
{{ arg }}
{% endfor %}
