{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2025 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if opengist_container_labels_traefik_enabled %}
traefik.enable=true

{% if opengist_container_labels_traefik_docker_network %}
traefik.docker.network={{ opengist_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if opengist_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ opengist_identifier }}-slashless-redirect.redirectregex.regex=^({{ opengist_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.{{ opengist_identifier }}-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + [opengist_identifier + '-slashless-redirect'] %}
{% endif %}

{% if opengist_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ opengist_identifier }}-strip-prefix.stripprefix.prefixes={{ opengist_container_labels_traefik_path_prefix }}
{% set middlewares = middlewares + [opengist_identifier + '-strip-prefix'] %}
{% endif %}

{% if opengist_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in opengist_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ opengist_identifier }}-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [opengist_identifier + '-add-request-headers'] %}
{% endif %}

{% if opengist_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in opengist_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ opengist_identifier }}-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [opengist_identifier + '-add-response-headers'] %}
{% endif %}

traefik.http.routers.{{ opengist_identifier }}.rule={{ opengist_container_labels_traefik_rule }}
{% if opengist_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ opengist_identifier }}.priority={{ opengist_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ opengist_identifier }}.service={{ opengist_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ opengist_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ opengist_identifier }}.entrypoints={{ opengist_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ opengist_identifier }}.tls={{ opengist_container_labels_traefik_tls | to_json }}
{% if opengist_container_labels_traefik_tls %}
traefik.http.routers.{{ opengist_identifier }}.tls.certResolver={{ opengist_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ opengist_identifier }}.loadbalancer.server.port={{ opengist_container_http_port }}
{% endif %}

{{ opengist_container_labels_additional_labels }}
